/* @import url(../vendor/normalize.css); */
@import url(../vendor/font.css);

* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --family: "Inter", "Arial", sans-serif;
  --fw-light: 400;
  --fw-normal: 500;

  /* Other */
  --radii: 3rem;
  --transition: all 0.8s ease-in;
  --op-transition: opacity 0.4s ease-in;
  --opacity: 0.7;
}

body[data-theme="dark"] {
  --colors-text: ;
  --colors-bg: ;
  --colors-ui-base: ;
  --colors-ui-alt: ;
  --colors-ui-button: ;

  --colors-error: ;

  --shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

body[data-theme="light"] {
  --colors-text: ;
  --colors-bg: ;
  --colors-ui-base: ;
  --colors-ui-alt: ;
  --colors-ui-button: ;

  --colors-error: ;

  --shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
}
