@import url(../vendor/normalize.css);
@import url(../vendor/font.css);

* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --family: 'Inter', 'Arial', sans-serif;
  --fw-light: 400;
  --fw-normal: 500;

  /* Other */
  --radii: 3px;
  --transition: all 0.8s ease-in;
  --op-transition: opacity 0.4s ease-in;
  --opacity: 0.7;
}

[data-theme='dark'] {
  --colors-text: #fff;
  --colors-text-alt: #8b8b8b;
  --colors-text-ui: #000;
  --colors-head: #202020;
  --colors-footer: #202020;
  --colors-bg: #202020;
  --colors-bg-alt: #272727;
  --colors-ui-base: #3ddc84;
  --colors-ui-alt: #303030;
  --colors-ui-button: #4285f4;
  --colors-ui-button-alt: #424242;

  --colors-red: #ee3465;

  --shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

[data-theme='light'] {
  --colors-text: #000;
  --colors-text-alt: #a0a0a0;
  --colors-text-ui: #fff;
  --colors-head: #dddee3;
  --colors-footer: #f8f8f8;
  --colors-bg: #fafafa;
  --colors-bg-alt: #f5f5f5;
  --colors-ui-base: #3456f3;
  --colors-ui-alt: #f2f2f2;
  --colors-ui-button: #3456f3;
  --colors-ui-button-alt: #f4f4f4;

  --colors-red: #ff4062;

  --shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
}
